* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 61.5%;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.3rem;
    font-family: 'arial';
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
}

h4,
h5 {
    font-size: 2.8rem;
}

.nav {
    background: midnightblue;
    color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    min-height: 10vh;
    display: flex;
    padding: 1.5rem;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;

}

.logo {
    flex: 1 1 40rem;
    font-family: 'arial', cursive;
    color: white;
    ;
}

nav ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

.nav-hero {
    background: url('/home/niraj/Desktop/The Site/img/clz.jpg');
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.nav-hero h2 {
    padding: 2rem 0;
color: white;
}

.nav-hero p {
    padding-bottom: 2rem;
color: white;
}

button {
    color: white;
    padding: 1rem;
    background-color: rgb(28, 101, 119);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .4s;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(51, 143, 51);
}

#about {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#7CB9E8, transparent), url('/home/niraj/Desktop/The Site/img/images.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-top: 0px;
}

.location-head {
    width: 90%;
    margin: 0 auto;
}

.location-head h2 {
    padding: 1rem 0;
    text-decoration: none;
color: white;
}

.location-head p {
    padding: 3rem 0;
color: white;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: .7;
    height: 50rem;

}

/* project  */
#project {
    min-height: 100vh;
}

.benifit-head {
    min-height: 20vh;
    background: #2E5894;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 2rem;

}

.benifit-head p {
    font-weight: 200;
    padding: 1rem 0;
}

.cards {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;

}

.card-img {
    background-color: #121c27;
    padding: 1rem;
}

.card {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.171), 0 20px 20px rgba(0, 0, 0, 0.171);
    margin: 1.4rem 3rem;
    min-height: 25vh;
    flex: 1 1 25rem;
    text-align: center;
}
.card img {
    max-width: 15%;
}
.card h4,.card p{
    padding: 1rem
}
#contact{
    
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-position: center;
   background-size: cover;
   color: white;
}
.form-wrapper{
    background-color: rgba(19, 28, 39, 0.616);
    width: 60%;
    border-radius: 20px;
}
.form-head{
    text-align: center;
    padding: 2rem;
}
.in-name,.in-email{
    text-align: center;
    padding: 3rem;
}
.form-wrapper button{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-wrapper label{
    margin: 0 1rem;
}
.form-wrapper input{
    padding: .5rem;
}
/* fotter  */
footer{
    background:#0087BD;
}
.footer-wrap{
    width: 90%;
   margin: auto;
   padding: 2rem;
    min-height: 10vh;
    color: white;
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
}
.footer-wrap h4{
    flex: 1 1 40rem;
}
.footer-wrap ul{
    list-style: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
}
/* for small screens  */
@media only screen and (max-width:700px) {
    .logo {
        text-align: center;
    }

    nav {
        padding: 1rem;
    }

    .cloud {
        height: 40rem;
        z-index: -2;
    }

    .location-head h3 {
        background: #121c27c5;
        color: white;
        font-weight: 100;
        padding: 2rem 1rem;
    }
    .form-wrapper{
        width: 90%;
    }
    .footer-wrap h4{
    text-align: center;
    }
}


/* animation  */
@keyframes cloudanimation {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(2%);
    }
}
